.tabUl {
  display: flex;
}

.tabUl li {
  width: 80px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px 18px 0 0;
  background: #DEE1E6;
}
@media (max-width: 672px) {
  .tabUl li{
    width: 60px;
    font-size: 0.8em;
  }
}
.tabUl li:hover{
  background:#F2F3F5 ;
}